In [146]:
import psycopg2
from psycopg2 import OperationalError, ProgrammingError
import pandas as pd

In [147]:
def connect(conn_params):
    conn = None
    try:
        print('Connecting to the PostgreSQL...........')
        conn = psycopg2.connect(conn_params)
        print("Connected successfully.")
        
    except OperationalError as err:
        print("Connection error ",err)        
        # set the connection to 'None' in case of error
        conn = None
    return conn

In [148]:
conn = connect("dbname=postgres user=postgres password=ashish")

Connecting to the PostgreSQL...........
Connected successfully.

In [149]:
def queryAll(cursor,q):
    data = None
    try:
        cursor.execute(q)
        data = cursor.fetchall()
    except ProgrammingError as err:
        print("Check your query String before running")
        print(err)
    except:
        print("Something went wrong..")
    return data

def executeQuery(cursor,q,d = None):   
    try:
        if d == None:
            cursor.execute(q)
        else:
            cursor.execute(q,d)
    except ProgrammingError as err:
        cursor.execute("ROLLBACK")
        print("Check your query String or data provided before running")
        print(err)
    except:
        cursor.execute("ROLLBACK")
        print("Something went wrong....")
    else:
        print("Query Successful")

In [150]:
queryStr = "SELECT * FROM dividend d"
# data = pd.read_sql(queryStr, conn)
#or
cursor = conn.cursor()
queryAll(cursor,queryStr)

[]

In [156]:
nextQuery = "SELECT DISTINCT d.company,d.fiscal_year FROM dividend d ORDER BY d.company,d.fiscal_year"
data = queryAll(cursor,nextQuery)
data

[('NOGOALE', 20742075)]

In [154]:
query = """
INSERT INTO dividend (company,fiscal_year) VALUES (%s,%s)
"""
data = ("NOGOALE", 20742075)
executeQuery(cursor,query,data)

Query Successful

In [153]:
query = "TRUNCATE TABLE dividend"
executeQuery(cursor,query)

Query Successful

In [155]:
cursor.execute("SELECT * FROM dividend")
if cursor.fetchone() == None:
    print("No data")