In [54]:
import psycopg2
from psycopg2 import OperationalError, ProgrammingError
import pandas as pd

In [18]:
def connect(conn_params):
    conn = None
    try:
        print('Connecting to the PostgreSQL...........')
        conn = psycopg2.connect(conn_params)
        print("Connected successfully.")
        
    except OperationalError as err:
        print("Connection error ",err)        
        # set the connection to 'None' in case of error
        conn = None
    return conn

In [31]:
conn = connect("dbname=postgres user=postgres password=ashish")

Connecting to the PostgreSQL...........
Connected successfully.

In [65]:
def queryAll(q):
    try:
        cursor = conn.cursor()
        data = None
        try:
            cursor.execute(q)
            data = cursor.fetchall()
        # except ProgrammingError as err:
        #     print("Check your query String before running")
        #     print(err)
        # except:
        #     print("Something went wrong..")
        finally:
            cursor.close()
        return data
    except NameError as err:
        print("Connection to database is required:",err)
    return None

def executeQuery(q,d = None):   
    try:
        cursor = conn.cursor()
        try:
            if d == None:
                cursor.execute(q)
            else:
                cursor.execute(q,d)
        except ProgrammingError as err:
            print("Check your query String or data provided before running")
            print(err)
        except:
            print("Something went wrong....")
        else:
            print("Query Successful")
        finally:
            cursor.close()
    except NameError as err:
        print("Connection to database is required:",err)
    return None

In [66]:
queryStr = "SELECT * FROM dividend d"
# data = pd.read_sql(queryStr, conn)
#or
queryAll(queryStr)

Something went wrong..

In [59]:
nextQuery = "SELECT DISTINCT d.company,d.fiscal_year FROM dividend d ORDER BY d.company,d.fiscal_year"
data = queryAll(nextQuery)
data

Check your query String before running

In [40]:
query = """
INSERT INTO dividend (company,fiscal_year) VALUES (%s,%s)
"""
data = ("NOGOALE", 20742075)
executeQuery(query,data)

Query Successful

('NOGOALE', 20742075)

In [58]:
query = "TRUNACATE TABLE dividend"
executeQuery(query)

Check your query String or data provided before running
syntax error at or near "TRUNACATE"
LINE 1: TRUNACATE TABLE dividend
        ^